*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.black-cat-moon{
  width: 300px;
  height: 200px;
}

#catm {
  align-items: center;
  width: 80px;
  height: 70px;
}

.game-name {
  color: orange;
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
}

.game-title {
  color: orange;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  padding-bottom: 20px;
}

.hr-style {
  border-style: solid;
  padding-block: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkslategray;
}

.instructions {
  color: orange;
  font-family: Montserrat;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 5px;

}

.instructions-p {
  color: orange;
  font-family: Montserrat;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.buttonstart {
  background-color: darkslategray;
  border-radius: 100px;
  border-style: solid;
  border: 0;
  outline: none;
  padding: 20px;
  color: orange;
  font-size: large;
 
}

.timeleft {
  font-family: Montserrat;
  font-size: 25px;
  color: orange;
  padding-top: 20px;
  display: inline-flex;
}

.seconds {
  font-family: Montserrat;
  font-size: 25px;
  color: orange;
  display: inline-flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 1%;
  padding-top: -80px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.square {
  background-color: orange;
  border-color: orange;
  border-radius: 100%;
  border: solid;
  height: 200px;
  width: 200px;
  left:  30%;
  top: 45%;
  overflow: hidden;
  position: relative;
  flex: 1 0 33.33%;
  justify-items: space-evenly;
  
}

.catm0 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  }
  


.catm1 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
}

.catm2 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
}

.catm3 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
}

.catm4 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
}

.catm5 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
}

.catm6 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
}

.catm7 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
}

.catm8 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
}


    


.score {
  font-family: Montserrat;
  font-size: 25px;
  color: orange;
  padding-top: 60px;
  padding-bottom: 40px;
}

.reset {
  background-color: darkslategray;
  border-radius: 100px;
  border-style: solid;
  border: 0;
  outline: none;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 20px;
  color: orange;
  font-size: large;
}


#hr-style2 {  
  padding: 50px;
  border-style: solid;
  padding-block: 5px;
  padding-top: 30px;
  background-color: darkslategray;
}





