*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.imagetopright {
  position: absolute;
  top: 0;
  right: 0; 
}

.black-cat-moon{
  width: 300px;
  height: 200px;
}

#catm {
  align-items: center;
  width: 80px;
  height: 70px;
}

.game-name {
  color: orange;
  text-align: center;
  font-family: "Montserrat", Arial;
  font-size: 40px;
}

.game-title {
  color: orange;
  text-align: center;
  font-family: "Montserrat", Arial;
  font-size: 40px;
  padding-bottom: 20px;
}

.hr-style {
  padding: 50px;
  border-style: solid;
  padding-block: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: darkslategray;
  color: orange;
}


.instructions {
  color: orange;
  font-family: "Montserrat", Arial;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 5px;

}

.instructions-p {
  color: orange;
  font-family: "Montserrat", Arial;
  font-size: 25px;
  text-align: justify;
  padding: 10px;

 
}

.button-layout,
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;

}

#startButton {
  justify-items: center;
}

.buttonstart {
  background-color: darkslategray;
  border-radius: 100px;
  border-style: solid;
  border: 0;
  outline: none;
  padding: 20px;
  color: orange;
  font-size: large;
  text-align: center;
 
}

.buttonstart {
  text-align: center;
}


.levelEasy,
.levelHard {
  background-color: darkslategray;
  border-radius: 100px;
  border-style: solid;
  border: 0;
  outline: none;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 20px;
  color: orange;
  font-size: large;
}

.levelLabel {
  color: orange;
  font-size: x-large;
  font-family: "Montserrat", Arial;
}

.game-status {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px; 
}
.fa-sharp {
  color: red;
}

.timeremaining {
  font-family: "Montserrat", Arial;
  font-size: 25px;
  color: red;
  padding-top: 20px;
  display: inline-flex;
}

.seconds {
  font-family: "Montserrat", Arial;
  font-size: 25px;
  color: red;
  display: inline-flex;
}

.score {
  font-family: "Montserrat", Arial;
  font-size: 25px;
  color: blue;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.square-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center; 
  align-items: center;
  gap: 1%;
  height: 800px;
  width: 800px;
  /* padding-top: -80px; */
  padding-bottom: 20px;
  /* padding-left: 20px;
  padding-right: 20px; */
  background-color: darkslategray;
} 

.square {
  background-color: orange;
  border-color: orange; 
  border-radius: 100%;
  border: solid;
  box-shadow: inset 0 10px 0 7px rgba(255, 165, 0, 0.9);
  height: 200px;
  width: 200px;
  /* left:  30%;
  top: 45%; */
  overflow: hidden;
  position: relative;
  /* flex: 1 0 33.33%;
  justify-items: space-evenly; */
  border: 2px;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catm0 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;

  }
  
.catm1 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-bottom: 1px;
  padding-top: 30px;
  padding-left: 20px;

}

.catm2 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-top: 30px;
  padding-left: 20px;

}

.catm3 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-top: 30px;
  padding-left: 20px;

}

.catm4 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-top: 30px;
  padding-left: 20px;

}

.catm5 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-top: 30px;
  padding-left: 20px;

}

.catm6 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-top: 30px;
  padding-left: 20px;

}

.catm7 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-top: 30px;
  padding-left: 20px;

}

.catm8 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-top: 30px;
  padding-left: 20px;

}

.square-container .square img {
  max-width: 75%;
  max-height: 75%;
}

#hr-style2 {  
  padding: 50px;
  border-style: solid;
  padding-block: 5px;
  padding-top: 30px;
  background-color: darkslategray;
  color: orange;
}

.paws {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
}

/* Media Queries For Large to Medium screen sizes from 1200px wide and down.  
/* @media screen and (max-width: 1200px) { */

/* For Medium Screen Sizes From 950px wide and down */

@media screen and (max-width: 950px) {
  .black-cat-moon {
   
    width: 200px;
    height: 100px;
    left: 0;
  }

  .game-name,
  .game-title,
  .instructions {
    font-size: 25px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .hr-style {
    padding-top: 20px;
    width: 135%;
  }

#catm,
  .imagetopright {
    display: none;
  }

.instructions-p {
    font-size: 15px;
    width: 100%;
 
  }

/* .main-container {
  width: 133%;
} */

.button-layout {
  justify-items: center;
}

#startButton {
  display: inline-block;
  /* border-radius: 50px; */
  padding: 20px;


}

.buttonstart,
.levelEasy,
.levelHard,
.levelLabel,
.fa-sharp {
  /* display: flex;  */

  width: 110%;
  border-radius: 50px;
  padding: 20px;
  text-align: center;



  }

.levelLabel {
  font-size: 20px;
  padding-left: 5px;
  text-align: center;
}

.timeremaining,
.seconds,
.score {
  padding-left: 5px;
  font-size: 20px;
  display: inline-flex;
}

 .main-container {
  width: 110%;
  /* overflow: hidden; */
  padding-right: 4px;

 }

 .square-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: black;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 1px;
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-left: 1px;

  padding-right: 25px;
 }








 .square {
  height: 100px; 
  width: 100px;
  padding-left: 2px;
  padding-right: 10px;
  gap: 1px;
  display: flex;
  margin: 0 5px;

 }

 #hr-style2 {
  width: 135%;
  /* display: none; */
 }

 .paws {
  margin-left: 50%;
  padding-bottom: 50px;
 }

}



/* @media screen and (min-width: 568px) and (max-width:666px) { */
/* 
  @media screen and (max-width: 567px) {

    .rotation {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        background-color: black;
        z-index: 9999;
        overflow: visible;
    }

    
    } */
/* } */
