/* Page css styling */
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* Css styling for top section of page */

/* Image of paw prints top right of screen */

.imagetopright {
  position: absolute;
  top: 0;
  right: 0; 
}

/* Image of cat before game heading */

.black-cat-moon{
  width: 300px;
  height: 200px;
}

/* Image of cat after game heading */

#catm {
  align-items: center;
  width: 80px;
  height: 70px;
}

/* Game Name */

.game-name {
  color: orange;
  text-align: center;
  font-family: "Montserrat", Arial;
  font-size: 40px;
}

/* hr rule under the game title */

.hr-style {
  padding: 50px;
  border-style: solid;
  padding-block: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: darkslategray;
  color: orange;
}

/* CSS styling for middle section of page */

/* Heading for instructions */

.instructions {
  color: orange;
  font-family: "Montserrat", Arial;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 5px;
}

/* Paragraph section for instructions */

.instructions-p {
  color: orange;
  font-family: "Montserrat", Arial;
  font-size: 25px;
  text-align: justify;
  padding: 10px;
}

/* Button section for game and top section introduction for game */

.button-layout,
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Button section css styling of buttons */

/* Start Button */

#startButton {
  justify-items: center;
}

.buttonstart {
  background-color: darkslategray;
  border-radius: 100px;
  border-style: solid;
  border: 0;
  outline: none;
  padding: 20px;
  color: orange;
  font-size: large;
  text-align: center;
 
}

/* Game Level Buttons */
.levelEasy,
.levelHard {
  background-color: darkslategray;
  border-radius: 100px;
  border-style: solid;
  border: 0;
  outline: none;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 20px;
  color: orange;
  font-size: large;
}

/* Label for choose a level */
.levelLabel {
  color: orange;
  font-size: x-large;
  font-family: "Montserrat", Arial;
}

/* Timer and score section styling */

.game-status {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px; 
}

/* font awesome icon used for right arrow */
.fa-sharp {
  color: red;
}

/* Time remaining heading */
.timeremaining {
  font-family: "Montserrat", Arial;
  font-size: 25px;
  color: red;
  padding-top: 20px;
  display: inline-flex;
}

/* Display of seconds */
.seconds {
  font-family: "Montserrat", Arial;
  font-size: 25px;
  color: red;
  display: inline-flex;
}

/* Score heading */
.score {
  font-family: "Montserrat", Arial;
  font-size: 25px;
  color: blue;
}

/* Main game section styling */

/* Main container which holds all circles and images */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container which holds grid of square/circles */

.square-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center; 
  align-items: center;
  gap: 1%;
  height: 800px;
  width: 800px;
  padding-bottom: 20px;
  background-color: darkslategray;
}

/* Individual squares */

.square {
  background-color: orange;
  border-color: orange; 
  border-radius: 100%;
  border: solid;
  box-shadow: inset 0 10px 0 7px rgba(255, 165, 0, 0.9);
  height: 200px;
  width: 200px;
  overflow: hidden;
  position: relative;
  border: 2px;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Image of cat to display in circles */
.catm0,
.catm1,
.catm2,
.catm3,
.catm4,
.catm5,
.catm6,
.catm7,
.catm8 {
  height: 100px;
  width: 100px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-60%);
  bottom: 30%;
  animation: ease-in .2s ease-out;
  padding-bottom: 1px;
  padding-top: 30px;
  padding-left: 20px;

  }

/* Styling applied to container to get images to display inside cirlce*/
.square-container .square img {
  max-width: 75%;
  max-height: 75%;
}

/* Bottom section of page */

/* hr rule at the bottom of the page */

#hr-style2 {  
  padding: 50px;
  border-style: solid;
  padding-block: 5px;
  padding-top: 30px;
  background-color: darkslategray;
  color: orange;
}

/* Paws image at the bottom of the page */

.paws {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
}

/* For Medium Screen Sizes From 950px wide and down */

@media screen and (max-width: 950px) {
  .black-cat-moon {
   
    width: 100px;
    height: 100px;
    /* left: 0; */
    padding-left: 5px;
  }

  .game-name,
  .game-title,
  .instructions {
    font-size: 20px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .hr-style {
    padding-top: 20px;
    width: 135%;
  }

#catm,
  .imagetopright {
    display: none;
  }

.instructions-p {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 130%;
 
  }

.button-layout {
  justify-items: center;
  padding-right: 10px;
}

#startButton {
  display: inline-block;
  padding: 15px;
}

.buttonstart,
.levelEasy,
.levelHard,
.levelLabel,
.fa-sharp {
  width: 130%;
  border-radius: 50px;
  padding: 20px;
  text-align: center;

  }

.levelLabel {
  font-size: 20px;
  padding-left: 5px;
  text-align: center;
}

.timeremaining,
.seconds,
.score {
  padding-left: 5px;
  padding-right: 10px;
  font-size: 20px;
  display: inline-flex;
}

 .main-container {
  width: 134%;
  padding-right: 4px;

 }

 .square-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: black;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 1px;
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-left: 1px;
  padding-right: 25px;
 }

 .square {
  height: 100px; 
  width: 100px;
  padding-left: 2px;
  padding-right: 10px;
  gap: 1px;
  display: flex;
  margin: 0 5px;

 }

 #hr-style2 {
  width: 135%;
 }

 .paws {
  margin-left: 50%;
  padding-bottom: 50px;
 }

}



/* @media screen and (min-width: 820px) */

@media screen and (max-width: 820px) {

    .black-cat-moon {
     
      width: 100px;
      height: 100px;
      left: 0;
    }
  
    .game-name,
    .game-title,
    .instructions {
      font-size: 25px;
      margin-right: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .hr-style {
      padding-top: 20px;
      width: 135%;
    }
  

  
  .instructions-p {
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
   
    }
  
  .button-layout {
    justify-items: center;
    padding-right: 10px;
  }
  
  #startButton {
    display: inline-block;
    padding: 15px;
  }
  
  /* .buttonstart, */
  .levelEasy,
  .levelHard,
  .levelLabel,
  .fa-sharp {
    width: 130%;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
  
    }
  
  .levelLabel {
    font-size: 20px;
    padding-left: 5px;
    text-align: center;
  }
  
  .timeremaining,
  .seconds,
  .score {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 20px;
    display: inline-flex;
  }
  
   .main-container {
    width: 100%;
    padding-right: 4px;
  
   }
  
   .square-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1px;
    height: 400px;
    width: 400px;
    padding-bottom: 20px;
    padding-left: 1px;
    padding-right: 25px;
   }
  
   .square {
    height: 100px; 
    width: 100px;
    padding-left: 2px;
    padding-right: 10px;
    gap: 1px;
    display: flex;
    margin: 0 5px;
  
   }
  
   #hr-style2 {
    width: 135%;
   }
  
   .paws {
    margin-left: 50%;
    padding-bottom: 50px;
   }

    
    } 

